@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --LLCC-gap-00: 0.5rem;
  --LLCC-gap-01: 5rem;
  --LLCC-margin-general: 2rem;
  /* COLORS */
  --LLCC-white: #ffffff;
  --LLCC-black: #000000;
  --LLCC-red: #ff5252;
  /* TEXTS */
  --LLCC-logo-size: 2rem;
  --LLCC-p-size: 1.2rem;
  --LLCC-p-weight: 400;
  --LLCC-title-weight: 800;
  --LLCC-subtitle-weight: 600;
  /* HEADERS */
  --LLCC-header-1-size: 4rem;
  --LLCC-header-2-size: 2rem;
  /* ANIMATION */
  --LLCC-transition-01: .2s ease-in-out;
}

html {
  margin: var(--LLCC-margin-general);
  background-color: var(--LLCC-white);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'M PLUS Code Latin', monospace;
}

*::selection {
  /* background-color: var(--LLCC-red); */
  color: var(--LLCC-red);
  text-decoration: underline;
  text-decoration-color: var(--LLCC-red);
}

a {
  color: var(--LLCC-black);
  text-decoration: none;
  border-radius: 10px;
}

img {
  width: 100%;
}

p,
a {
  font-size: var(--LLCC-p-size);
  font-weight: var(--LLCC-p-weight);
}

label {
  display: none;
}