#filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--LLCC-red);
  padding: var(--LLCC-padding-01);
  transition: var(--LLCC-transition-01);
}

#open-filters-button,
.category-filter {
  padding: var(--LLCC-padding-01);
  gap: 80px;
  align-items: center;
  border: transparent;
  background-color: transparent;
  color: var(--LLCC-white);
  display: flex;
  border-bottom: 1px solid var(--LLCC-white);
  filter: invert(0);
  transition: var(--LLCC-transition-01);
}

#open-filters-button:hover,
.category-filter:hover {
  /* color: var(--LLCC-black); */
  filter: invert(1);
  cursor: pointer;
}

.chevron-icon {
  width: .5rem;
  transform: rotate(0deg);
  transition: var(--LLCC-transition-01);
}

.chevron-rotation {
  transform: rotate(-180deg);
}

#selects-section {
  display: flex;
  flex-direction: row;
  height: 0;
  /* padding: var(--LLCC-padding-selects-section); */
  justify-content: left;
  /* gap: var(--LLCC-gap-02); */
  overflow: hidden;
  transition: var(--LLCC-transition-01);
  -webkit-transition: var(--LLCC-transition-01);
  -moz-transition: var(--LLCC-transition-01);
  -o-transition: var(--LLCC-transition-01);
  ;
}

#selects-section.selects-section-shown {
  height: 40px;
}

.select-options-div {
  width: 140px;
  position: absolute;
  height: 0px;
  overflow: hidden;
  z-index: 99;
  transition: var(--LLCC-transition-01);
}

.select-options-div-shown {
  height: 500px;
}

.select-opt-button {
  width: 100%;
  text-align: left;
  background-color: var(--LLCC-white);
  border: 1px solid var(--LLCC-red);
  color: var(--LLCC-red);
  padding: var(--LLCC-padding-01);
  cursor: pointer;
  transition: var(--LLCC-transition-01);
}
.select-opt-button:hover {
  color: var(--LLCC-black);
}

@media (max-width:650px) {
  #selects-section {
    display: flex;
    flex-direction: column;
    height: 0;
    padding: 0;
    justify-content: left;
    /* gap: var(--LLCC-gap-02); */
    overflow: hidden;
    transition: var(--LLCC-transition-01);
    -webkit-transition: var(--LLCC-transition-01);
    -moz-transition: var(--LLCC-transition-01);
    -o-transition: var(--LLCC-transition-01);
    ;
  }
  
  #selects-section.selects-section-shown {
    height: 120px;
    padding: 0 var(--LLCC-padding-selects-section);
  }
}